.productList {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center;
    gap: 20px; /* Отступ между карточками */
    margin-top: 50px;
  }

.bottomText {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 24px;
  
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #747E97;
}

@media (max-width: 1024px) {
  .productList {
    display: flex;
    flex-direction: column;
  }
}