.button {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 24px;

    width: 100%;
    max-width: 296px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, #00b39b, #3b71f7);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  