@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(253deg, rgba(227, 255, 254, 0.697) 23.91%, rgba(230, 237, 253, 0.645) 78.01%);
    --foreground: #ededed;
  }
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}